* {
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html {
  font-size: 62.5%;
  background-color: white;
  color: #343a40;
}

.container {
  width: 70rem;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 3%;
  padding: 4rem;
  border-radius: 15px;
}

.h1 {
  font-size: 3rem;

  padding: 4px 10px;
  text-align: center;
  height: 4rem;
  width: 30rem;
  margin: 0 auto;
  padding: 0 4rem;
  margin-bottom: 15px;
  margin-top: 2rem;
}

input {
  position: relative;
  padding: 15px;
  border-radius: 20px;
  height: 4rem;
  width: 40rem;
  border: 0;
  margin: 0 0 2rem 5.8rem;
}

input:focus {
  outline: none;
  border: none;
}

.button {
  position: absolute;
  left: 88.39rem;
  transform: translateX(-1%);
  border-radius: 20px;
  border: none;
  height: 4rem;
  text-align: center;
  width: 8rem;
  background-color: #e5dbff;
}

.button:hover,
.button:active {
  background-color: #f3f0ff;
}

.inputContainer {
  margin-left: 4.8rem;
}
